{% assign block_settings = block.settings %}

{% liquid
  assign discount_codes = cart.cart_level_discount_applications | where: 'type', 'discount_code' | map: 'title'
  for item in cart.items
    for allocation in item.line_level_discount_allocations
      if allocation.discount_application.type == 'discount_code'
        assign discount_codes = item.line_level_discount_allocations | slice: forloop.index0 | map: 'discount_application' | map: 'title' | concat: discount_codes
      endif
    endfor
  endfor

  assign discount_codes = discount_codes | uniq

  if discount_codes.size == 0
    assign disclosure_expanded = false
  else
    assign disclosure_expanded = true
  endif
%}

<script
  src="{{ 'cart-discount.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>

<cart-discount-component
  {% if section.id != blank %}
    data-section-id="{{ section.id }}"
  {% endif %}
  {{ block.shopify_attributes }}
>
  {% capture cart_discount_accordion_children %}
    <details
      {% if disclosure_expanded %}
        open
      {% endif %}
    >
      <summary class="cart-discount__summary">
        <span class="cart-discount__label cart-primary-typography">{{ 'content.discount' | t }}</span>

        <span class="cart-totals__icon">
          {{- 'icon-plus.svg' | inline_asset_content -}}
        </span>
      </summary>

      <div class="details-content">
        <div id="cart-discount-disclosure">
          <cart-discount-component
            {% if section.id != blank %}
              data-section-id="{{ section.id }}"
            {% endif %}
          >
            <div class="cart-discount__content">
              <form
                on:submit="/applyDiscount"
                onsubmit="return false;"
                class="cart-discount__form"
              >
                <label
                  for="cart-discount-{{ block.id }}"
                  class="visually-hidden"
                >
                  {{- 'accessibility.discount' | t -}}
                </label>
                <input
                  id="cart-discount-{{ block.id }}"
                  class="cart-discount__input"
                  type="text"
                  name="discount"
                  size="8"
                  placeholder="{{ 'content.discount_code' | t }}"
                  required
                  data-skip-node-update
                >
                <button
                  type="submit"
                  class="button cart-discount__button"
                >
                  {{ 'actions.apply' | t }}
                </button>
              </form>
            </div>
            <div
              class="cart-discount__error hidden"
              role="alert"
              ref="cartDiscountError"
            >
              <span class="svg-wrapper">
                {{- 'icon-error.svg' | inline_asset_content -}}
              </span>
              <small
                class="cart-discount__error-text cart-primary-typography hidden"
                ref="cartDiscountErrorDiscountCode"
              >
                {{ 'content.discount_code_error' | t: code: 'test' }}
              </small>
              <small
                class="cart-discount__error-text cart-primary-typography hidden"
                ref="cartDiscountErrorShipping"
              >
                {{ 'content.shipping_discount_error' | t }}
              </small>
            </div>
            <ul class="cart-discount__codes">
              {% for discount_code in discount_codes %}
                <li
                  class="cart-discount__pill"
                  data-discount-code="{{ discount_code }}"
                  aria-label="{{ 'accessibility.discount_applied' | t: code: discount_code }}"
                >
                  <p class="cart-discount__pill-code">
                    {{ discount_code }}
                  </p>
                  <button
                    type="button"
                    on:click="/removeDiscount"
                    class="cart-discount__pill-remove svg-wrapper svg-wrapper--smaller button-unstyled"
                    aria-label="{{ 'actions.remove_discount' | t: code: discount_code }}"
                  >
                    {{- 'icon-filters-close.svg' | inline_asset_content -}}
                  </button>
                </li>
              {% endfor %}
            </ul>
          </cart-discount-component>
        </div>
      </div>
    </details>
  {% endcapture %}

  {% render 'accordion-custom-component', children: cart_discount_accordion_children, class: 'cart-discount' %}
</cart-discount-component>

{% schema %}
{
  "name": "Discount code",
  "tag": null,
  "settings": []
}
{% endschema %}
